<div class="row mt-1">
    <div class="col">
        <form>
            <div class="form-row mt-2">
                <div class="col-md-4">
                    <input type="text" name="inn_org" id="inn_org" class="form-control mt-1" placeholder="ИНН">
                    <div class="invalid-feedback">
                        Неверная длина ИНН
                    </div>
                </div>
                <div class="col-md-8">
                    <button class="btn btn-primary mt-1 float-right" id="submit_shortname">Проверить</button>
                </div>
            </div>
        </form>
    </div>
</div>