<div class="row mt-1">
    <div class="col">
        <form>
            <div class="form-row mt-2">
                <div class="col-md-6">
                    <input type="text" name="shortname" id="shortname" class="form-control mt-1" placeholder="Название организации">
                    <div class="invalid-feedback">
                        Необходимое поле
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="text" name="inn_org" id="inn_org" class="form-control mt-1" placeholder="ИНН">
                    <div class="invalid-feedback">
                        Необходимое поле
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary mt-1" id="submit_shortname">Проверить</button>
                </div>
            </div>
        </form>
    </div>
</div>