<div class="row mt-1">
    <div class="col">
        <form>
            <div class="form-row mt-2">
                <div class="col-md-3">
                    <input type="text" name="lastname" id="lastname" class="form-control mt-1" placeholder="Фамилия">
                </div>
                <div class="col-md-2">
                    <input type="text" name="firstname" id="firstname" class="form-control mt-1" placeholder="Имя">
                </div>
                <div class="col-md-3">
                    <input type="text" name="patronymic" id="patronymic" class="form-control mt-1" placeholder="Отчество">
                </div>
                <div class="col-md-2">
                    <input type="text" name="inn" id="inn" class="form-control mt-1" placeholder="ИНН">
                </div>

                <div class="col-md-1">
                    <button class="btn btn-primary mt-1" id="submit" >Проверить</button>
                </div>
            </div>
        </form>
    </div>
</div>