<div class="row mt-1">
    <div class="col">
        <form action="/filter" method="post">
            <div class="form-row mt-2">
                <div class="col-md-3">
                    <input type="text" name="lastname" class="form-control mt-1" placeholder="Фамилия">
                </div>
                <div class="col-md-2">
                    <input type="text" name="firstname" class="form-control mt-1" placeholder="Имя">
                </div>
                <div class="col-md-3">
                    <input type="text" name="patronymic" class="form-control mt-1" placeholder="Отчество">
                </div>
                <div class="col-md-2">
                    <input type="text" name="itn" class="form-control mt-1" placeholder="ИНН">
                </div>

                <div class="col-md-1">
                    <input type="submit" class="btn btn-primary mt-1" value="Проверить">
                </div>
            </div>
        </form>
    </div>
</div>