<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проверка дачников. Работающая Бурятия</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Compiled and minified JavaScript -->

    <script src="../js/popper.min.js"></script>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:insert="partials/navbar"></div>
<main role="main" class="container">
    <div th:insert="partials/dacha/filter_dacha"></div>
    <div th:insert="partials/dacha/table_dacha"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>
<footer class="fixed-bottom page-footer navbar-dark bg-dark text-center" >
    <div class="container" th:insert="partials/footer"></div>
</footer>
<script src="../js/script_dacha.js"></script>
</body>
</html>