<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${check_request_name}"></title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Compiled and minified JavaScript -->

    <script src="js/popper.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:insert="partials/navbar"></div>
<main role="main" class="container">
    <div th:insert="partials/org/filter_by_shortname"></div>
    <div th:insert="partials/org/table_by_shortname"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>
<footer class="fixed-bottom page-footer navbar-dark bg-dark text-center" >
    <div class="container" th:insert="partials/footer/top"></div>
    <div class="container" th:insert="partials/footer/jobrb"></div>
</footer>
<script src="js/script_by_shortname.js"></script>
</body>
</html>