<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${application_name}"></title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Compiled and minified JavaScript -->

    <script src="js/popper.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:insert="partials/navbar"></div>
<main role="main" class="container">
    <div th:insert="partials/worker/filter"></div>
    <div th:insert="partials/worker/table"></div>
</main>
<script src="js/script.js"></script>
</body>
</html>