<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Комитет информационных технологий</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container" onload="updateFiles();">
        <form name="upload" enctype="multipart/form-data" action="/upload" method="POST">
            <p>
            <div><input id="fileInput" type="file" name="uploadedFiles" onchange="updateFiles();" multiple></div>
            <div style="padding-top:20px" id="selectedFiles"></div>
            </p>
            <p>
                <input type="submit" value="Upload files">
            </p>
        </form>
        <div>
            <div>Uploaded files:</div>
            <div th:each="file : ${files}">
                ${file.getName()}
            </div>
    </div>
    <script>
        function updateFiles() {
            var nBytes = 0,
                fileInfo = '',
                oFiles = document.getElementById("fileInput").files,
                nFiles = oFiles.length;
            for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                fileInfo += 'Filename=';
                fileInfo += oFiles[nFileId].name;
                fileInfo +=', size=';
                fileInfo += oFiles[nFileId].size;
                fileInfo +=' bytes';
                fileInfo +='</br>';
            }

            document.getElementById("selectedFiles").innerHTML = fileInfo;

        }
    </script>
</div>

</body>
</html>

