<div class="row mt-1">
    <div class="col">
        <form>
            <div class="form-row mt-2">
                <div class="col-md-2">
                    <input type="text" name="lastname" id="lastname" class="form-control mt-1" placeholder="Фамилия">
                    <div class="invalid-feedback">
                        Необходимое поле
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="text" name="firstname" id="firstname" class="form-control mt-1" placeholder="Имя">
                    <div class="invalid-feedback">
                        Необходимое поле
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="text" name="patronymic" id="patronymic" class="form-control mt-1" placeholder="Отчество">
                </div>
                <!--
                <div class="col-md-2">
                    <select class="form-control mt-1" name="district" id="district">
                        <option>Баргузинский</option>
                        <option>Баунтовский</option>
                        <option>Бичурский</option>
                        <option>Джидинский</option>
                        <option>Еравнинский</option>
                        <option>Заиграевский</option>
                        <option>Закаменский</option>
                        <option>Иволгинский</option>
                        <option>Кабанский</option>
                        <option>Кижингинский</option>
                        <option>Курумканский</option>
                        <option>Кяхтинский</option>
                        <option>Муйский</option>
                        <option>Мухоршибирский</option>
                        <option>Окинский</option>
                        <option>Прибайкальский</option>
                        <option>Северо-Байкальский</option>
                        <option>г. Северобайкальск</option>
                        <option>Селенгинский</option>
                        <option>г. Гусиноозерск</option>
                        <option>Тарбагатайский</option>
                        <option>Тункинский</option>
                        <option>Хоринский</option>
                        <option>г.Улан-Удэ</option>
                    </select>
                    <div class="invalid-feedback">
                        Необходимое поле
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="text" name="address" id="address" class="form-control mt-1" placeholder="ДНТ/Адрес">
                    <div class="invalid-feedback">
                        Необходимое поле
                    </div>
                </div> -->
                <div class="col-md-2">
                    <button class="btn btn-primary mt-1 float-right" id="submit" >Проверить</button>
                </div>
            </div>
        </form>
    </div>
</div>