<div class="row mt-2">
    <div class="col">
        <div class="table-responsive-sm">
            <table class="table" id="orgTable">
                <thead>
                <tr>
                    <th scope="col" class="text-center" style="width: 25%">ФИО</th>
                    <th scope="col" class="text-center" style="width: 25%">Откуда едет</th>
                    <th scope="col" class="text-center" style="width: 30%">Куда едет</th>
                    <th scope="col" class="text-center" style="width: 20%">Дата поездки</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <div class="spinner-border" style="display: none" role="status" id="spinner">
                    <span class="sr-only">Загрузка...</span>
                </div>
            </div>
            <span class="text-center text-danger" style="display: none" id="noResults">Нет результатов</span>
        </div>
    </div>
</div>
